<h1 style="text-align: center;">CHỮ KÝ ELGAMAL</h1>
<div class="wrap">
    <div class="block">
        <div class="container">
            <h2 class="titlte">
                PHÁT SINH CHỮ KÝ
            </h2>
            <div class="block_vanbanky__ps block_item">
                <h4>Văn bản ký: </h4>
                <input type="text" class="vanbanky_ps">
                <button class="btn-file_vanbanky__ps">File</button>
            </div>
            <button class="btn_ky">Ký</button>
            <div class="block_chuky_ps">
                <h4>Chữ ký: </h4>
                <input type="text" class="chuky_ps block_item">
                <div class="btns">
                    <button class="btn-chuyen">Chuyển</button>
                    <button class="btn-luu">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <h2 class="titlte">
                KIỂM TRA CHỮ KÝ
            </h2>
            <div class="block_vanbanky_kt block_item">
                <h4>Văn bản ký: </h4>
                <input type="text" class="vanbanky_kt">
                <button class="btn-file_vanbanky_kt">File văn bản</button>
            </div>
            <div class="block_chuky_kt block_item">
                <h4>Chữ ký: </h4>
                <input type="text" class="chuky_kt">
                <button class="btn-file_chuky_kt">File chữ ký</button>
            </div>
            <button class="btn_kt_ky">Kiểm tra chữ ký</button>
            <div class="block_chuky_kt block_item">
                <h4>Thông báo: </h4>
                <input type="text" class="vanbanky_kt_tb">
            </div>
        </div>
    </div>
</div>